.container1 {
    width: 60%;
}

.container2 {
    width: 40%;
}

.imgperfil {
    margin-left: 18px;
    margin-bottom: 20px;
    width: 150px;
}

.mb5 {
    margin-bottom: 2%;
}

.mt5 {
    margin-top: 2%;
}

.width50 {
    width: 50%;
}
.flexwrap{
    flex-wrap: wrap !important;
    display: flex !important;
}
.form-control {
    display: block;
    border: none;
    height: 25px;
    min-height: 25px;
    padding: 0;
    margin-top: -4px;
    background: 0 0;
}

.princicontent {
    display: flex;
    border-style: outset;
    flex-wrap: wrap;
    padding-top: 15px;
}

.flexstart {
    justify-content: flex-start;
    display: flex;
}

.flexend {
    justify-content: flex-end;
    display: flex;
}

.flexcenter {
    justify-content: center;
    display: flex;
    font-size: 18px;
}

.fderequince {
    width: 20px;
    float: right;
}

.misdatos {
    border: 1px solid #d00000;
    background: #d00000;
    width: 10%;
    height: 25px;
    color: #fff;
    margin-top: 10px;
}

.columnstilo {
    color: #959595;
    font-weight: 400;
}

.tablaperfil {
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.ml14 {
    margin-left: 14px;
}

.mt10 {
    margin-top: 10px;
}

.nodatos {
    border: 1px solid #ddd;
    text-align: center;
}

.dx-scrollable-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.cd-nav-trigger {
    right: 20px;
    border-radius: .25em;
    overflow: hidden;
    width: 48px;
    height: 48px;
    animation: cd-bounce-in .3s linear;
    background: #d00000;
    text-indent: 100%;
    white-space: nowrap;
    z-index: 99;
    position: fixed;
    bottom: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.btnsuscrip {
    margin: 0 0 16px 5px;
}

.maxpant {
    width: 1125px;
}

table,
td {
    border: 1px solid #ddd;
}

.borde {
    border: 1px solid #ddd;
}

.fblanco {
    background: white;
}

.borde0 {
    border: 0;
    width: 80%;
}

.dx-datagrid-headers {
    border: 1px solid #ddd;
}

.input-group-addon {
    border: 0;
}

.panel .panel-heading-small .panel-title-small {
    display: inline-block;
    letter-spacing: .02em;
    font-size: 13px;
    padding: 0;
    transition: opacity .3s ease;
}

.panel.panel-default {
    border: 1px solid rgba(204, 204, 204, .2);
}

.border {
    border: 1px solid rgba(204, 204, 204, .2);
}

.headerr {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    width: 100%;
}

.panel .panel-heading-small {
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 7px 12px 0;
    background: rgba(0, 0, 0, .04);
}

.panel {
    margin: 0 5px 5px 0;
}

.mr10 {
    margin-right: 10px;
}

.flexcolumn {
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: table;
    width: 100%;
    height: 55px;
}

label {
    display: block;
}

.form-group-default.input-group .input-group-addon {
    height: 50px;
    border-radius: 0;
    border: none;
    border-left: 1px solid rgba(0, 0, 0, .05);
}

.quickview-wrapper.open {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -ms-transform: translate(-100%, 0);
}

.btn-toolbar .btn-group button {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: 0 0;
    color: #999;
    font-size: 1em;
}

.media-left {
    padding: 0;
}

.contact .dv-image img,
.contact2 .dv-image img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.contact2 .dv-image {
    padding: 10px;
    margin-bottom: -5px;
}

.dv-data {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dv-data .dv-data-title {
    width: 100%;
    float: left;
    font-size: 11px;
    font-weight: 400;
    color: #727272;
}

.media-body,
.media-left,
.media-right {
    display: table-cell;
    vertical-align: top;
}

.media-body {
    width: 10000px;
}

.media,
.media-body {
    zoom: 1;
    overflow: hidden;
}

.media-body,
.media-left,
.media-right {
    display: table-cell;
    vertical-align: top;
}

.quickview-wrapper .nav-tabs {
    background-color: #d00000;
}

.panel .contact2 .dataview-info p small,
.panel .contact2 .dv-data .dv-data-title a {
    color: #d00000;
}

.dataview-info {
    border: 1px solid #d00000;
    background: #d00000;
    -webkit-box-shadow: 0 0 4px 0 rgba(208, 0, 0, .5);
    box-shadow: 0 0 4px 0 rgba(208, 0, 0, .5);
    text-align: center;
    color: #fff;
    margin-top: 14px;
}

.data {
    float: right;
}

.quickview-wrapper .nav-tabs {
    position: relative;
    padding: 0 43px;
}

.quickview-wrapper .quickview-toggle {
    color: #fff;
}

.dv-data-title a {
    font-weight: 700;
}

.panel .contact2 .dv-data .dv-data-title span {
    color: #999;
    font-size: 1.3em;
}

.bold {
    color: #000;
    font-weight: 700;
}

.panel .contact2 .dv-data .dv-data-name span {
    color: #000;
    font-size: 1.3em;
}

.panel .contact2 {
    padding: 5px 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #f5f5f5;
    -webkit-box-shadow: 0 0 4px 0 rgba(211, 211, 211, .5);
    box-shadow: 0 0 4px 0 rgba(211, 211, 211, .5);
}

.dv-image {
    max-width: 40%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    margin-left: 103px;
    max-width: 128px;
}

.dv-imagec {
    max-width: 40%;
    height: 100%;
    width: 100%;
    margin-left: 103px;
    max-width: 128px;
}

.dv-imagechica {
    width: 50px;
}

.dv-image1 {
    border-radius: 50%;
    width: 94px;
    margin-left: 5px;
    float: left;
}

.dv-image2 {
    border-radius: 50%;
    width: 94px;
    margin-left: 5px;
}

.panel-body {
    margin: 9px 5px 5px 0;
    padding: 5px 0;
    border: 1px solid rgba(204, 204, 204, .2);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #f5f5f5;
    -webkit-box-shadow: 0 0 4px 0 rgba(211, 211, 211, .5);
    box-shadow: 0 0 4px 0 rgba(211, 211, 211, .5);
}

.panel {
    margin: 20px 5px 5px 0;
}

.btn-toolbar {
    margin-left: 0;
}

.btn-default {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: 0 0;
    color: #999;
    font-size: 1em;
}

.pg-small {
    font-size: 14px;
}

.btn-group {
    width: 100%;
}

[class*=" pg-"],
[class^=pg-] {
    display: inline-block;
    font: normal normal normal 14px/1 CRMFont;
    font-size: 11px;
    text-rendering: auto;
}

.form-group-default {
    position: relative;
    padding: 7px 9px;
    border: 1px solid rgba(0, 0, 0, .07);
    border-radius: 2px;
    background-color: #fff;
    -webkit-transition: background-color .2s ease;
    transition: background-color .2s ease;
}

.quickview-wrapper .quickview-toggle {
    position: absolute;
    right: 12px;
    top: 2px;
    padding: 6px;
    opacity: .4;
}

.open>a {
    outline: 0;
}

.btn-link {
    color: #5e5e5e;
    background-color: transparent;
    border: none;
}

.nav-tabs>li {
    padding-left: 0;
    padding-right: 0;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav>li,
.nav>li>a {
    display: block;
    position: relative;
}

ol>li,
ul>li {
    padding-left: 3px;
    line-height: 24px;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.quickview-wrapper {
    position: fixed;
    right: -350px;
    top: 0;
    width: 350px;
    background: #fff;
    bottom: 0;
    z-index: 1000;
    box-shadow: 0 0 9px rgba(191, 191, 191, .85);
    border-left: 1px solid rgba(222, 227, 231, .56);
    -webkit-transition: -webkit-transform .4s cubic-bezier(.05, .74, .27, .99);
    transition: transform .4s cubic-bezier(.05, .74, .27, .99);
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

body {
    background: #fff;
}

.btn,
.btn-danger,
.btn-cons {
    color: #D3D3D3 !important;
}


/*
.imgedit {
    z-index: 5;
    position: relative;
}

.preview {
    top: -7px;
    left: -12px;
}
*/