.avatar {
    background: gray;
    background-repeat: no-repeat;
}

.fondored {
    background: darkred;
}

.fondonegro {
    background: black;
    color: #fff;
}

.franja {
    background: rgba(0, 0, 0, 0.055);
    color: #fff;
    margin-top: 6px;
    position: relative;
    white-space: nowrap;
}

.btn-secondary {
    color: #fff;
    background-color: black;
    border: none;
}