.container1 {
    width: 60%;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
}

.container2 {
    width: 40%;
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px;
}

.container-fluid {
    display: flex;
}

.cabperfil {
    border: #c5b6b6 1px solid;
    width: 100%;
    height: 30px;
}

.borde {
    border: #c5b6b6 1px solid;
}

.imgtabla {
    border: #c5b6b6 1px solid;
    width: 100%;
}

.fondorojoblanco {
    border: #c5b6b6 1px solid;
}

.contentperfil {
    width: 100%;
    height: auto;
}

.mgtoppeque {
    margin-top: 20px;
}

.mgbtnpeque {
    margin-bottom: 10px;
}

.content1 {
    width: 15%;
}

.colorrojo {
    color: red;
}

.content2 {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

input {
    background-color: #e9e9e9;
    display: block;
}

.contentdatos {
    width: 100%;
    height: 70px;
    display: flex;
}

.margin {
    color: red;
    margin-left: 10px;
}

.mt5 {
    margin-top: 10%;
}

.btn {
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .01em;
    margin-bottom: 0;
    border: 1px solid rgba(0, 0, 0, .14);
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-image: none!important;
    color: #d00000;
    line-height: 21px;
}

.cd-nav-trigger {
    right: 20px;
    border-radius: .25em;
    overflow: hidden;
    width: 48px;
    height: 48px;
    animation: cd-bounce-in .3s linear;
    background: #d00000;
    text-indent: 100%;
    white-space: nowrap;
    z-index: 99;
    position: fixed;
    bottom: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}